/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/theme-fresh.css";
@import "~ng2-toasty/style-bootstrap.css";
@import "app/shared/NgExDialog/Css/ex-dialog.css";

// Theme customization
@import "theme/theme";

html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#sidebar-left {
  position:relative;
  z-index: inherit;
  padding-bottom: 3000px !important;
  margin-bottom: -3000px !important;
  background:#436E90;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
#content {
  position: relative;
  z-index: 10;
  background: #FBFBF0;
  box-shadow: 0 0 6px #000;
  padding-bottom: 3000px !important;
  margin-bottom: -2980px !important;
  overflow: hidden;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
