.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.button-disabled {
   background-color: grey !important;
}

.group-members-info {
  margin-left: 10px;
  margin-right: 10px;
}

.dual-list-container {
  padding: 10px;
}
