<div class="container-fluid">
    <div style="height: 100%; padding-top: 35px; box-sizing: border-box;">
        <div style="padding-bottom: 10px">
            <button (click)="onAddRow()" translate>TXT_ADD_NEW</button>
            <button (click)="onRemoveSelected()" translate>TXT_REMOVE_SELECTED</button>
            {{ 'TXT_PAGE_SIZE' | translate}}:
            <select (change)="onPageSizeChanged()" [(ngModel)]="selectedPageSize">
                <option value="10" selected="">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <ag-grid-angular style="width: 95%; height: 500px;" class="ag-fresh"
                         [gridOptions]="gridOptions" translate>
        </ag-grid-angular>
    </div>
</div>
